<!DOCTYPE html>
<html lang="en">

<head>
  <!-- including head component-->
  <%- include('../partials/head'); %>
    <title>Wizzard Manager</title>
</head>

<body>

  <header class="bg-primary">
    <div class="container">
      <!-- including navbar -->
      <%- include('../partials/navbar', {login: "no" }) %>
    </div>
  </header>


  <section>
    <div class="container">
      <h3 class="text-center text-primary mt-5">Get Register Yourself with Us</h3>
      <form action="/register" method="POST" class="w-50 m-auto mt-5" id="register">
        <% if(error!='' ){ %>
          <div class="alert <%= classname %>" role="alert">
            <%= error %>
          </div>
          <% } %>

            <div class="row">
              <div class="input_group col-md-6">
                <label for="fname" class="form-label">Enter your First Name:</label>
                <input type="text" name="fname" id="fname" class="form-control" required />
              </div>
              <div class="input_group col-md-6">
                <label for="lname" class="form-label">Enter your Last Name:</label>
                <input type="text" name="lname" id="lname" class="form-control" required />
              </div>
            </div>

            <div class="input_group mt-3">
              <label for="email" class="form-label">Enter your Email:</label>
              <input type="email" name="email" id="email" class="form-control" required />
            </div>

            <div class="input_group mt-3">
              <label for="pass" class="form-label">Enter your Passsword:</label>
              <input type="password" name="pass" id="pass" class="form-control" required />
            </div>

            <div class="input_group">
              <button type="submit" class="w-100 mt-3 btn btn-primary">Register</button>
            </div>

            <div class="bottom">
              <div class="text-primary text-center my-3">or</div>
              <p class="text-center">Already Have an account? <a href="/login">Login Now</a></p>
            </div>
      </form>

    </div>
  </section>

  <!-- including footer component -->
  <%- include('../partials/footer') %>
</body>

</html>