<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/stylesheet.css">

  <!-- including plugin -->
  <script src="../js/jquery.min.js"></script>
  <script src="../js/jquery-ui.min.js"></script>
  <script src="../js/form-render.min.js"></script>
  <!-- including custom setting for form builder-->
  <script src="../js/formbuilder.js"></script>

  <style>
    fieldset {
      display: none;
    }
    .invalid {
      outline: 5px solid #ffdddd;
    }
    .valid {
      outline: 5px solid #deffdd;
    }
  </style>

  <title>Wizzard Manager</title>
</head>

<body>

  <section>
    <div class="container">
      <div class="row">
        <% if(error!='' ){%>
          <div class="col-md-6 m-auto mt-5 alert <%= error.classname %>">
            <%= error.message %> <a href="">Report Error</a>
          </div>
          <% }else if(wizard!='' ){ %>
            <form action="/viewWizard/<%= wizard._id %>/<%= wizard.uid %>" method="post"
              class="col-md-6 m-auto my-5 bg-light py-5 px-5" id="wizardform">
              <h3 class="mb-5 text-center text-primary">
                <%= wizard.title%>
              </h3>

              <% for(let i=0; i<wizard.pages.length-1; i++){ %>
                <% for(let j=0; j<pages.length-1; j++){ %>
                  <% if(wizard.pages[i].pagelink==pages[j].pid){ %>

                    <fieldset>
                      <p style="font-size: 10px;text-align: right;">Page: <%=i+1%>/<%=wizard.pages.length%>
                      </p>
                      <div id="render-wrap<%= i %>" name="<%= pages[j].pid %>">
                        <input type="hidden" id="obj" value="<%= JSON.stringify(pages[j].form) %>">
                      </div>

                      <!-- navigation -->
                      <div class="mt-5 d-flex justify-content-between">
                        <%if(wizard.pages.length> 1){ %>
                          <% if(i!=0){ %>
                            <button class="btn btn-info" type="button" id="prev" value=<%=i%>>
                              <span class="sr-only">Previous</span>
                            </button>
                          <% } if(!(wizard.pages.length==i+1)){ %>
                            <button class="btn btn-info" type="button" id="next" value=<%=i%>>
                              <span class="sr-only">Next</span>
                            </button>
                          <% } } %>

                          <% if(wizard.pages.length==i+1){ %>
                            <button class="btn btn-primary" type="submit">
                              <span class="sr-only">Submit Form</span>
                            </button>
                          <% } %>
                      </div>


                    </fieldset>
                  <% } %>
                <% } %>
              <% }; %>

            </form>
          <% } %>

              <p class="text-muted text-center">Wizzards by <a href="/">Wizzards Manager</a></p>

      </div>
    </div>
  </section>


  <script>
    $(document).ready(function () {
      const page = document.querySelectorAll("fieldset");
      page[0].style.display = "block";
      $("button#prev").on("click", function () {
        const num = parseInt($(this).val());
        page[num].style.display = "none";
        page[num - 1].style.display = "block";
      });
      $("button#next").on("click", function () {
        const num = parseInt($(this).val());
        if (isValid()) {
          page[num + 1].style.display = "block";
          page[num].style.display = "none";
        }
      });
      function isValid() {
        let valid = true;
        $("fieldset:visible").find("input, select, textarea").each(function () {
          if ($(this).prop('required')) {
            if (!$(this).val() || !$(this).val().length > 1) {
              $(this).removeClass("valid");
              $(this).addClass("invalid");
              valid = false;
            } else {
              $(this).addClass("valid");
              $(this).removeClass("invalid");
              valid = true;
            }
          } else {
            $(this).addClass("valid");
            $(this).removeClass("invalid");
            valid = true;
          }
        });
        return valid;
      }

      // rendering pages
      const obj = document.querySelectorAll("#obj");
      for (let k = 0; k < obj.length; k++) {
        // rendering each page one by one
        console.log("obj sending");
        setTimeout(printOnScreen(obj[k].value, "render-wrap" + k), k * 1500);
      }

    });
  </script>

  <script src="../js/bootstrap.js"></script>

</body>

</html>