<!DOCTYPE html>
<html lang="en">
<head>
  <!-- including head component-->
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="DataTables/datatables.min.css">
  <title>Wizards</title>
</head>
<body>
  <header class="bg-primary">
    <div class="container">
      <!-- including navbar -->
      <%- include('../partials/navbar', {login: "yes"}) %>
    </div>
  </header>

  <section id="wizards">
    <div class="container">
      <!-- display alert if have any -->
      <% if(error){ %>
        <div class=`alert <%= classname %>` role="alert">
          <%= error %>
        </div>
      <%}%>

      <!-- Created Wizards -->
      <div class="row mt-5">
        <table id="table_id" class="display">
          <thead>
              <tr>
                  <th style="width:20px">#</th>
                  <th>Wizard Name</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>

            <% if(wizard.length>0){
              for(let i=0; i<wizard.length; i++ ){ %>
                <tr>
                    <td style="width:20px"><%= i %></td>
                    <td><%= wizard[i].title%></td>
                    <td>
                      <a class="btn btn-primary m-1" href="wdata/view/<%= wizard[i]._id %>">View</a>
                      <a class="btn btn-danger m-1" href="#">Delete</a>
                      <a class="btn btn-info m-1" href="#">Export</a>
                    </td>
                </tr>

        <% }}else{
              if(error!=''){%>
                <p class="text-center alert <%=classname%> mt-3"><%=error%></p> 
              <%}else{%>
                <p class="text-center text-primary mt-5">You haven't created any Wizard yet.</p> 
              <%}%>
          %>
          </tbody>
        </table>
        <% } %>


    </div>
  </section>


  <!-- including footer component -->
  <%- include('../partials/footer') %>

  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="DataTables/datatables.min.js"></script>

  <script>
    $(document).ready( function () {
      $('#table_id').DataTable({
        ordering:  false,
      });
      
    } );
  </script>
</body>
</html>